<h1 class="mt-8 pb-3 border-b-2 text-2xl font-extrabold dark:text-white">
  <%=t('activerecord.attributes.service.include_service')%>
</h1>

<div data-services--services-target="myElement">
  <template  data-services--services-target="fields">
    <div class="flex mt-8 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">
          <%=t('activerecord.attributes.service.error_message_service.title_error_service')%>
        </span>
        <ul class="mt-1.5 list-disc list-inside"> </ul>
      </div>
    </div>
  </template>
</div>

<div >
    <div class="mt-8 grid gap-6 mb-6 lg:grid-cols-8">
      <div class="col-span-2"
        data-controller="flatpickr">
        <%= label_tag :service_date, t('activerecord.attributes.service.label_input.date'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= text_field_tag :service_date, nil, data: {"services--services-target":"inputServiceDate", "flatpickr-target":"inputDate"}, class:"text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autocomplete: "off" %>
      </div>

      <div class="col-span-2 ">
        <%= label_tag :list_service_id, t('activerecord.attributes.service.label_input.services'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= select_tag :list_service_id, options_from_collection_for_select(ListService.where(list_delete: false), :id, :service_name,), {data: {"services--services-target":"inputListServiceId"}, include_blank: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
      </div>

      <div>
        <%= label_tag :amount, t('activerecord.attributes.service.label_input.quantity'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= number_field_tag :amount, nil, data: {action:"services--services#calcService", "services--services-target":"inputAmount"}, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: false %>
      </div>

      <div>
        <%= label_tag :value, t('activerecord.attributes.service.label_input.amount'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= text_field_tag :value, nil, data: {action:"services--services#formatValue",  "services--services-target":"inputValue"}, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"R$", required: false %>
      </div>

      <div>
        <%= label_tag :total, t('activerecord.attributes.service.label_input.total'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= text_field_tag :total, nil, disabled:true, data: {"services--services-target":"inputTotal"}, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"R$", required: false %>
      </div>

      <div class="mt-7 mb-8 text-center grid ">
        <%= link_to t('activerecord.attributes.service.label_input.add'), '#', data: { action: "click->services--services#addService"}, class:"w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
      </div>
    </div>

    <h1 class=" pb-3 border-b-2 text-2xl font-extrabold dark:text-white">
      <%=t('activerecord.attributes.service.added_services')%>
    </h1>
    <div data-turbo-permanent data-services--services-target="message" class="mt-8 font-medium text-gray-900 whitespace-nowrap dark:text-white" >
      <%=t('activerecord.attributes.service.no_services')%>
    </div>

    <div data-turbo-permanent class="mt-8 relative overflow-x-auto shadow-md sm:rounded-lg">

      <table data-services--services-target="table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
        <thead class=" text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              <%=t('activerecord.attributes.service.label_input.date')%>
            </th>
            <th scope="col" class="px-6 py-3">
              <%=t('activerecord.attributes.service.label_input.service')%>
            </th>
            <th scope="col" class="px-6 py-3">
              <%=t('activerecord.attributes.service.label_input.quantity')%>
            </th>
            <th scope="col" class="px-6 py-3">
              <%=t('activerecord.attributes.service.label_input.amount')%>
            </th>
            <th scope="col" class="px-6 py-3">
              <%=t('activerecord.attributes.service.label_input.total')%>
            </th>
            <th scope="col" class="px-6 py-3 text-right">
              <%=t('activerecord.attributes.service.label_input.action')%>
            </th>
          </tr>
        </thead>

        <% service_names = service_names_map %>

        <div data-services--services-target="serviceNamesMap" class="hidden">
          <%= service_names_map.to_json.html_safe %>
        </div>

        <tbody >
          <% @service.execution_services.each do |service| %>
            <% unless service.service_date.blank? && service.list_service_id.blank? && service.amount.blank? && service.value.blank? && service.total.blank? %>
              <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="service_date px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= I18n.l(service.service_date, format: :default) %></th>
                <td class="list_service_id px-6 py-4"><%= service_names[service.list_service_id] %></td>
                <td class="amount px-6 py-4"><%= service.amount %></td>
                <td class="value px-6 py-4"><%= number_to_currency(service.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                <td class="total px-6 py-4"><%= number_to_currency(service.total, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                <td class="px-6 py-4 text-center">
                  <%= hidden_field_tag 'service[execution_services_attributes][][id]', service.id %>
                  <%= hidden_field_tag 'service[execution_services_attributes][][service_date]', service.service_date, class: 'service_date-input' %>
                  <%= hidden_field_tag 'service[execution_services_attributes][][list_service_id]', service.list_service_id, class: 'list_service_id-input' %>
                  <%= hidden_field_tag 'service[execution_services_attributes][][amount]', service.amount, class: 'amount-input' %>
                  <%= hidden_field_tag 'service[execution_services_attributes][][value]', service.value, class: 'value-input' %>
                  <%= hidden_field_tag 'service[execution_services_attributes][][total]', service.total, class: 'total-input' %>

                  <% destroy_value = service.marked_for_destruction? ? true : false %>
                  <%= hidden_field_tag 'service[execution_services_attributes][][_destroy]', destroy_value, class: 'destroy-input' %>
                  <div class="text-right">
                      <button data-action="services--services#deleteService"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/></svg></button>
                      <button data-action="services--services#editServices"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/></svg>
                      </button>
                  </div>
                </td>
              </tr>
            <%end %>
          <% end %>
        </tbody>
    </table>

    <template data-services--services-target="template">

      <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="service_date px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></td>
        <td class="list_service_id px-6 py-4"></td>
        <td class="amount px-6 py-4"></td>
        <td class="value px-6 py-4"></td>
        <td class="total px-6 py-4"></td>

        <td class="px-6 py-4 text-center">
          <%= hidden_field_tag 'service[execution_services_attributes][][service_date]', nil, class: 'service_date-input' %>
          <%= hidden_field_tag 'service[execution_services_attributes][][list_service_id]', nil, class: 'list_service_id-input' %>
          <%= hidden_field_tag 'service[execution_services_attributes][][amount]', nil, class: 'amount-input' %>
          <%= hidden_field_tag 'service[execution_services_attributes][][value]', nil, class: 'value-input' %>
          <%= hidden_field_tag 'service[execution_services_attributes][][total]', nil, class: 'total-input' %>
          <div class="text-right">
            <button data-action="services--services#deleteService"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/></svg>
            </button>
            <button data-action="services--services#editServices"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/></svg>
            </button>
          </div>
        </td>
      </tr>
    </template>
  </div>
  <div class="mt-8" > <span data-services--services-target="total" class="text-lg font-medium text-gray-900 dark:text-white"> </span></div>
</div>