<div class="m-10 mt-5 sm:pt-28 md:pt-28 sm:ms-72 sm:me-8"
  data-controller="messages--confirm">

  <% if @categories_accounts_payables.present? %>
    <%=render "messages/confirm"%>
  <% end %>

  <h1 class="pb-3 border-b-4 text-4xl font-extrabold dark:text-white">
    <div class="flex">
      <svg class="mt-2 w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M4 5a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2H4Zm0 6h16v6H4v-6Z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M5 14a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Zm5 0a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2h-5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
      </svg>
      <span class="ms-3">Categorias das contas à pagar</span>
    </div>
  </h1>

  <div class="mt-8">
    <% if @logger %>
      <%= link_to "Nova categoria", new_admins_backoffice_categories_accounts_payable_path, data: {turbo_stream: true}, class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% else %>
      <%= link_to "Nova categoria", new_users_backoffice_categories_accounts_payable_path, data: {turbo_stream: true}, class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    <% end %>
  </div>

  <div data-controller="accountCategories--tabs" data-turbo-permanent>
    <div class="mt-6 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px">
        <li class="me-2">
          <%= link_to "", id:"link1", data: {turbo_stream: true, action:"accountCategories--tabs#showPage", "accountCategories--tabs-target":"link"}, class: "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" do %>
          Custo Fixo |
          <% end %>

        </li>
        <li class="me-2">
          <%= link_to "", id:"link2", data: {turbo_stream: true, action:"accountCategories--tabs#showPage", "accountCategories--tabs-target":"link"}, class: "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" do %>
          Custo Variavel |
          <% end %>
        </li>
      </ul>
    </div>

    <div data-accountCategories--tabs-target="page1" class="mt-8 hidden">
      <%= render "categories_accounts_payables/page1" %>
    </div>

    <div data-accountCategories--tabs-target="page2" class="mt-8 hidden">
      <%= render "categories_accounts_payables/page2" %>
    </div>
  </div>
</div>
