<div data-controller="cashRegister--billsToPaysRepeat">
  <div data-cashRegister--billsToPaysRepeat-target="myElement">
    <template  data-cashRegister--billsToPaysRepeat-target="fields">
        <div class="flex mt-8 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"> <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <span class="font-medium">Erro ao cadastrar contas a pagar, verificar os campos:</span>
                <ul class="mt-1.5 list-disc list-inside"></ul>
            </div>
        </div>
    </template>
  </div>

  <div class="grid gap-6 mb-6 lg:grid-cols-1">
    <div>
      <%= label_tag "Descrição", nil, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= text_field_tag "description", nil, data:{"cashRegister--billsToPaysRepeat-target":"inputDescription"}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
  </div>

  <div class="grid gap-6 mb-6 lg:grid-cols-2">
    <div>
      <%= label_tag "Categoria", nil, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= select_tag "category_id", options_from_collection_for_select(@categories_accounts_payables, :id, :formatted_name, @bills_to_pay.category_id), include_blank: true, data:{"cashRegister--billsToPaysRepeat-target":"inputCategory"}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", multiple_id:"countries_multiple" %>
    </div>

    <div>
      <%= label_tag "Valor", nil, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= text_field_tag "value", nil, data:{"cashRegister--billsToPaysRepeat-target":"inputValue", controller: "formatCurrency", action:"formatCurrency#formatValue", "formatCurrency-target":"inputValue"},class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
  </div>

  <h1 class="mt-2 pb-3 border-b-2 text-2xl font-extrabold dark:text-white">Repetição</h1>

  <div class="mt-8 grid gap-6 mb-6 lg:grid-cols-1">
    <div>
      <%= label_tag "Tipo de repetição", nil, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= select_tag "typeRepetion",options_for_select(['',['Semanal', 'weekly'], ['Mensal', 'monthly'], ['Anual', 'yearly']]), data:{"cashRegister--billsToPaysRepeat-target":"inputFrequency"}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>

    </div>
  </div>

  <div class="grid gap-6 mb-6 lg:grid-cols-2">
    <div data-controller="flatpickr">
      <%= label_tag "Data de vencimento", nil, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= text_field_tag "startDate", nil, data:{"cashRegister--billsToPaysRepeat-target":"inputStartDate", "flatpickr-target":"inputDate"}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autocomplete: "off" %>
    </div>

    <div>
      <%= label_tag "Quantidade", nil, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= number_field_tag "repeat", nil, data: {"cashRegister--billsToPaysRepeat-target":"inputRepetitions"}, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: false %>
    </div>
  </div>

  <hr class="mt-8 border-b-2">

  <div class="mt-8 grid grid-cols-2 w-64 gap-4">
    <%= button_tag 'Cadastrar', type: 'button', data: { action: 'click->cashRegister--billsToPaysRepeat#createRecurringBills' }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>

    <% if @logger %>
        <%= link_to "Voltar", admins_backoffice_bills_to_pays_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% else %>
        <%= link_to "Voltar", users_backoffice_bills_to_pays_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% end %>
  </div>
</div>


