<%= form_with url: admins_backoffice_welcome_index_path, method: :get do %>
  <div class="mt-8 grid gap-6 mb-6 lg:grid-cols-6">
    <div>
      <%= label_tag :month, t('activerecord.attributes.welcome.select_month'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= select_tag :month, options_for_select(@months_records, params[:month] || @current_month), class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  %>
    </div>
    <div>
      <%= label_tag :year, t('activerecord.attributes.welcome.select_year'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= select_tag :year, options_for_select(@years_records, params[:year] || @current_year), class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  %>
    </div>
    <div class="mt-7 grid grid-cols-2 w-64 gap-4">
      <%= submit_tag t('activerecord.attributes.welcome.search'),class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>

      <%= link_to t('activerecord.attributes.welcome.clear'), admins_backoffice_welcome_index_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    </div>
  </div>
<% end %>

