<div class="mb-10 m-5 mt-32 md:mx-20">
  <div class="flex gap-4 items-stretch justify-between flex-wrap sm:flex-wrap">

    <a href="#" class="w-full text-center block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%=t('activerecord.attributes.welcome.balance')%>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"> <%= number_to_currency(@balance, unit: "R$ ", separator: ",", delimiter: ".") %></p>
    </a>

    <a href="#" class="w-full text-center block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%=t('activerecord.attributes.welcome.amount_due')%>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"> <%= number_to_currency(@total_to_receive, unit: "R$ ", separator: ",", delimiter: ".") %></p>
    </a>

    <a href="#" class="w-full text-center block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%=t('activerecord.attributes.welcome.accounts_payable')%>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"> <%= number_to_currency(@bills_to_pay_total_value, unit: "R$ ", separator: ",", delimiter: ".") %></p>
    </a>

    <a href="#" class="w-full text-center block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%=t('activerecord.attributes.welcome.paid_accounts')%>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"> <%= number_to_currency(@bills_paid_total_value, unit: "R$ ", separator: ",", delimiter: ".") %></p>
    </a>
  </div>

  <h1 class="mt-10 text-center pb-3 border-b-4 text-3xl font-extrabold dark:text-white"><%=t("activerecord.attributes.welcome.record_for #{@current_date_format}") %></h1>

  <%=render "welcome/filter_date"%>

  <div class="mt-10  border relative overflow-x-auto shadow-md sm:rounded-lg">
    <%= column_chart [
      { name: t('activerecord.attributes.welcome.cash_inflows'), data: find_cash_flow_data(@cash_flow, "Entradas"), color: "blue" },
      { name: t('activerecord.attributes.welcome.cash_outflows'), data: find_cash_flow_data(@cash_flow, "Saídas de Caixa"), color: "red" }
    ], stacked: true, thousands: ".", decimal: ",", round: 1, zeros: true, prefix: "R$ ", title: t('activerecord.attributes.welcome.inflow_outflow'), height: "500px", xtitle: t('activerecord.attributes.welcome.days'), ytitle: "Total (R$)", empty: t('activerecord.attributes.welcome.no_data_available') %>
  </div>

  <div class="mt-10 border relative overflow-x-auto shadow-md sm:rounded-lg">
    <%=bar_chart @billing_filtered, thousands: ".", decimal: ",", round: 1, zeros: true, prefix: "R$ ", title: t('activerecord.attributes.welcome.cash_flow'), height: "500px", ytitle: t('activerecord.attributes.welcome.description'), xtitle: "Total R$", empty: t('activerecord.attributes.welcome.no_data_available') %>
  </div>

  <div class="mt-10 xl:flex gap-4 ">
    <div class="sm:w-full xl:w-3/6 border relative overflow-x-auto shadow-md sm:rounded-lg">
      <%=render "welcome/bills_to_pay"%>
    </div>
    <div class="sm:mt-10 md:mt-10 lm:mt-10 xl:mt-0 sm:w-full xl:w-3/6 border relative overflow-x-auto shadow-md sm:rounded-lg ">
      <%=pie_chart @bills_percentages,
        thousands: ".",
        decimal: ",",
        round: 2,
        zeros: true,
        suffix: " %",
        title: t('activerecord.attributes.welcome.expense_breakdown'),
        height: "390px",
        empty: t('activerecord.attributes.welcome.no_data_available')

      %>
    </div>
  </div>
</div>