<div class="mt-8">
  <%= form_with(model: @logger == true ? [:admins_backoffice, client] : [:users_backoffice, client], data: { controller: "prevent", action: "keydown->prevent#preventEnter"}) do |form| %>

    <% if client.errors.any? %>
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium"><%= t('errors.template.header', model: client.model_name.human, count: @client.errors.count) %></span>
            <ul class="mt-1.5 list-disc list-inside">
              <% client.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="grid gap-6 mb-6 lg:grid-cols-3">
      <div>
        <%= form.label :name_client,  class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :name_client, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t('activerecord.attributes.client.name_client'), required: false %>
      </div>

      <div>
        <%= form.label :legal_situation, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :legal_situation, [[t('activerecord.attributes.client.legal_situations.physical')],
       [t('activerecord.attributes.client.legal_situations.legal')]], {include_blank: true}, { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}%>
      </div>

      <div>
          <%= form.label :number_doc, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :number_doc, maxlength: 18, data: { controller: "clients--format", action: "input->clients--format#formatCPFOrCNPJ", "clients--format-target":"inputDoc" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"100.100.100-11", required: false %>
      </div>
    </div>

    <div class="grid mb-6 lg:grid-cols-2">
      <div data-controller="clients--phones" data-turbo-permanent>
        <div data-clients--phones-target="fields">
          <%= form.fields_for :phones do |phone_form| %>

            <div class="nested-fields">
              <%= phone_form.label :phone, class:"block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white"  %>
              <div class="grid grid-flow-col justify-start gap-4 ">

                <div class="relative">
                  <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                        <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
                    </svg>
                  </div>
                    <div class=" ">
                    <%= phone_form.text_field :phone, maxlength: 15, data: { controller: "clients--formatPhone", action: "input->clients--formatPhone#formatPhone", "clients--formatPhone-target":"inputPhone" }, class:" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block md:w-80 ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"(67) 9 9962-8523",required:false  %>
                    </div>
                </div>

                <%= phone_form.hidden_field :_destroy %>
                <%= link_to '#', data: { action: "click->clients--phones#remove_association" }, class:""  do %>
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                  </svg>
                <%end%>
              </div>

            </div>

          <% end %>

        </div>

        <div data-clients--phones-target="template" class="hidden">
          <%= form.fields_for :phones, Phone.new, child_index: 'NEW_RECORD' do |phone_form| %>
            <div class="nested-fields">
              <%= phone_form.label :phone, class:"mt-4 block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
              <div class="grid grid-flow-col justify-start gap-4 ">
                <div class="relative">
                  <div class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                          <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
                      </svg>
                    </div>

                    <%= phone_form.text_field :phone, maxlength: 15, data: { controller: "clients--formatPhone", action: "input->clients--formatPhone#formatPhone", "clients--formatPhone-target":"inputPhone" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block md:w-80 ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"(67) 9 9962-8523" %>

                </div>
                <%= phone_form.hidden_field :_destroy %>
                <%= link_to '#', data: { action: "click->clients--phones#remove_association" }, class:""  do %>
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                  </svg>
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-6 mb-4">
          <%= link_to t('activerecord.attributes.phone.add_phone'), '#', data: { action: "click->clients--phones#add_association" }, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        </div>
      </div>

      <%# emails %>

      <div data-controller="clients--emails" >
        <div data-clients--emails-target="fields" data-turbo-permanent>
          <%= form.fields_for :emails do |email_form| %>
            <div class="nested-fields">
              <%= email_form.label :email, class:"block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white"  %>
              <div class="grid grid-flow-col justify-start gap-4 ">

                <div class="">
                <%= email_form.text_field :email, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block md:w-80 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"email@email.com", required:false%>
                </div>
                <%= email_form.hidden_field :_destroy %>
                <%= link_to '#', data: { action: "click->clients--emails#remove_association" } do %>
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                  </svg>
                <%end%>
              </div>

            </div>
          <% end %>
        </div>

        <div data-clients--emails-target="template" style="display: none">
          <%= form.fields_for :emails, Email.new, child_index: 'NEW_RECORD' do |email_form| %>
            <div class="nested-fields">
              <%= email_form.label :email, class:"mt-4 block mb-2 text-sm font-medium text-gray-900 dark:text-white"  %>
              <div class="grid grid-flow-col justify-start gap-4">
                <%= email_form.text_field :email, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block md:w-80 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"email@email.com" %>

                <%= email_form.hidden_field :_destroy %>
                <%= link_to '#', data: { action: "click->clients--emails#remove_association" } do %>
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                  </svg>
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
        <div class="mt-6 mb-4">
          <%= link_to t('activerecord.attributes.email.add_email'), '#', data: { action: "click->clients--emails#add_association", turbo_stream: true }, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        </div>
      </div>
    </div>

    <h1 class="pb-3 border-b-2 text-2xl font-extrabold dark:text-white">
      <%=t('activerecord.attributes.address.add_address')%>
    </h1>
    <%# Busca por cep %>
    <div data-controller="clients--searchCep">
      <div class="mt-8 flex items-start max-w-sm ">
        <%= form.label :simple_search, "Search", for: "simple-search", class: "sr-only" %>
        <div class="relative w-full">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <%= text_field_tag :inputCep, nil, maxlength: 9, data: { "clients--searchCep-target":"inputCep", action: "input->clients--searchCep#formatCep" } ,  id: "simple-search", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: t('activerecord.attributes.address.search_cep') %>
        </div>
        <button data-action="click->clients--searchCep#searchCep" type="button" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <%=t('activerecord.attributes.address.search')%>
        </button>
      </div>

      <%# cadastrar endereço %>
      <div>
        <div id="myElement">

          <template  data-clients--searchCep-target="fields">
            <div class="flex mt-8 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Danger</span>
              <div>
                <span class="font-medium"><%= t('activerecord.attributes.address.message_error')%></span>
                  <ul class="mt-1.5 list-disc list-inside">

                </ul>
              </div>
            </div>
          </template>

        </div>

          <div class="mt-8 grid gap-6 mb-6 md:grid-cols-3">
            <div>
              <%= label_tag :street, t('activerecord.attributes.address.street'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :street, nil, data: { action: "input->clients--addAddress#updateStreet", "clients--searchCep-target":"street" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= label_tag :neighborhood, t('activerecord.attributes.address.neighborhood'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :neighborhood, nil, data: { "clients--searchCep-target":"neighborhood" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= label_tag :city, t('activerecord.attributes.address.city'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :city, nil, data: { "clients--searchCep-target":"city" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= label_tag :cep, t('activerecord.attributes.address.cep'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :cep, nil, maxlength: 8, data: { "clients--searchCep-target":"cep" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>
            <div>
              <%= label_tag :add_number, t('activerecord.attributes.address.add_number'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :add_number, nil, maxlength: 8, data: { "clients--searchCep-target":"add_number" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
            </div>
            <div>
              <%= label_tag :uf, t('activerecord.attributes.address.uf'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :uf, nil, data: { "clients--searchCep-target":"uf" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
            </div>
          </div>
          <div>
            <div class="mb-6" >
              <%= label_tag :complement, t('activerecord.attributes.address.complement'), class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= text_field_tag :complement, nil, data: { "clients--searchCep-target":"complement" }, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
            </div>

            <button data-action="clients--searchCep#addAddress" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><%=t('activerecord.attributes.address.add_address')%></button>
          </div>

      </div>

      <%# endereço cadastrado %>

      <h1 class="mt-8 pb-3 border-b-2 text-2xl font-extrabold dark:text-white"><%=t('activerecord.attributes.address.address_title')%></h1>
        <div data-turbo-permanent data-clients--searchCep-target="message" class="mt-8 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <p><%=t('activerecord.attributes.address.no_addresses')%></p>
        </div>

        <div data-turbo-permanent class="mt-8 relative overflow-x-auto shadow-md sm:rounded-lg">

          <table data-clients--searchCep-target="table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
            <thead class=" text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3"><%=t('activerecord.attributes.address.street')%></th>
                <th scope="col" class="px-6 py-3"><%=t('activerecord.attributes.address.neighborhood')%></th>
                <th scope="col" class="px-6 py-3"><%=t('activerecord.attributes.address.city')%></th>
                <th scope="col" class="px-6 py-3"><%=t('activerecord.attributes.address.cep')%></th>
                <th scope="col" class="px-6 py-3"><%=t('activerecord.attributes.address.add_number')%></th>
                <th scope="col" class="px-6 py-3"><%=t('activerecord.attributes.address.uf')%></th>
                <th scope="col" class="px-6 py-3 "><%=t('activerecord.attributes.address.complement')%></th>
                <th scope="col" class="px-6 py-3 text-right"><%=t('activerecord.attributes.address.action')%></th>
              </tr>
            </thead>

            <tbody>
              <% @client.addresses.each do |address| %>
                <%unless address.street.blank? && address.neighborhood.blank? && address.city.blank? && address.cep.blank? && address.add_number.blank? && address.uf.blank? && address.complement.blank? %>
                  <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="street scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= address.street %></th>
                    <td class="neighborhood px-6 py-4"><%= address.neighborhood %></td>
                    <td class="city px-6 py-4"><%= address.city %></td>
                    <td class="cep px-6 py-4"><%= address.cep %></td>
                    <td class="number px-6 py-4"><%= address.add_number %></td>
                    <td class="uf px-6 py-4"><%= address.uf %></td>
                    <td class="complement px-6 py-4"><%= address.complement %> </td>
                    <td class="px-6 py-4 text-center">
                      <%= hidden_field_tag 'client[addresses_attributes][][id]', address.id %>
                      <%= hidden_field_tag 'client[addresses_attributes][][street]', address.street, class: 'street-input' %>
                      <%= hidden_field_tag 'client[addresses_attributes][][neighborhood]', address.neighborhood, class: 'neighborhood-input' %>
                      <%= hidden_field_tag 'client[addresses_attributes][][city]', address.city, class: 'city-input' %>
                      <%= hidden_field_tag 'client[addresses_attributes][][cep]', address.cep, class: 'cep-input' %>
                      <%= hidden_field_tag 'client[addresses_attributes][][add_number]', address.add_number, class: 'number-input' %>
                      <%= hidden_field_tag 'client[addresses_attributes][][uf]', address.uf, class: 'uf-input' %>
                      <%= hidden_field_tag 'client[addresses_attributes][][complement]', address.complement, class: 'complement-input' %>
                      <% destroy_value = address.marked_for_destruction? ? true : false %>
                      <%= hidden_field_tag 'client[addresses_attributes][][deleted]', destroy_value, class: 'destroy-input' %>
                      <%# hidden_field_tag 'client[addresses_attributes][][_destroy]', false, class: 'destroy-input' %>
                      <div class="text-right">
                        <button data-action="clients--searchCep#deleteAddress"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/></svg></button>
                        <button data-action="clients--searchCep#editAddress"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/></svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <template data-clients--searchCep-target="template">

            <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th class="street scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></td>
              <td class="neighborhood px-6 py-4"></td>
              <td class="city px-6 py-4"></td>
              <td class="cep px-6 py-4"></td>
              <td class="number px-6 py-4"></td>
              <td class="uf px-6 py-4"></td>
              <td class="complement px-6 py-4"></td>
              <td class="px-6 py-4 text-center">
                <%= hidden_field_tag 'client[addresses_attributes][][neighborhood]', nil, class: 'neighborhood-input' %>
                <%= hidden_field_tag 'client[addresses_attributes][][street]', nil, class: 'street-input' %>
                <%= hidden_field_tag 'client[addresses_attributes][][city]', nil, class: 'city-input' %>
                <%= hidden_field_tag 'client[addresses_attributes][][cep]', nil, class: 'cep-input' %>
                <%= hidden_field_tag 'client[addresses_attributes][][add_number]', nil, class: 'number-input' %>
                <%= hidden_field_tag 'client[addresses_attributes][][uf]', nil, class: 'uf-input' %>
                <%= hidden_field_tag 'client[addresses_attributes][][complement]', nil, class: 'complement-input' %>
                <div class="text-right">
                  <button data-action="clients--searchCep#deleteAddress"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/></svg>
                  </button>
                  <button data-action="clients--searchCep#editAddress"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/></svg>
                  </button>
                </div>
              </td>
            </tr>
          </template>
        </div>
      </div>



      <hr class="mt-8 border-b-2">

      <div class="mt-8 grid grid-cols-2 w-72 gap-4">
        <%= form.submit class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% if @logger %>
          <%= link_to t('activerecord.attributes.address.back'), admins_backoffice_clients_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% else %>
          <%= link_to t('activerecord.attributes.address.back'), users_backoffice_clients_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>







