<div class="m-5 mt-32 md:mx-20" data-controller="messages--confirm">

  <% if @clients.present? %>
    <%=render "messages/confirm"%>
  <% end %>

  <h1 class="pb-3 border-b-4 text-4xl font-extrabold dark:text-white">
    <div class="flex">
      <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd"/>
      </svg>
      <span class="ms-3">Clientes</span>
    </div>
  </h1>

  <div class="mt-8 flex flex-wrap gap-4" >
    <div class=" max-w-sm ">
      <%= form_tag(admins_backoffice_clients_path, method: :get, data: {turbo_frame: "results", turbo_action: "advance", controller: "clients--searchClient"}) do %>
        <div class="relative w-full">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <%= text_field_tag :search, params[:search], data: { action: "input->clients--searchClient#searchClient"}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Procurar Nome ou CPF / CNPJ..." %>
        </div>
      <% end %>
    </div>
    <div class="mt-2">
      <% if @logger %>
        <%= link_to "Novo Cliente", new_admins_backoffice_client_path, data: {turbo_stream: true}, class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% else %>
        <%= link_to "Novo Cliente", new_users_backoffice_client_path, data: {turbo_stream: true}, class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "results" do %>
    <% if @clients.empty? %>
      <p class="mt-8 font-medium text-gray-900 whitespace-nowrap dark:text-white" >Não há clientes cadastrados.</p>
    <% else %>
      <div id="clients">
        <div  class="mt-8 relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
            <thead class=" text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3"> Cliente</th>
                <th scope="col" class="px-6 py-3">CPF / CNPJ</th>
                <th scope="col" class="px-6 py-3">Telefones</th>
                <th scope="col" class="px-6 py-3">E-mails</th>
                <th scope="col" class="px-6 py-3 text-right">Ações</th>
              </tr>
            </thead>

            <tbody>
              <% @clients.each do |client| %>
                <%= render partial: 'clients/client', locals: { client: client }  %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    <% end %>

    <% if @clients.empty? %>
      <div class="mt-8">
        <% if @logger %>
          <%= link_to "Voltar", admins_backoffice_clients_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% else %>
          <%= link_to "Voltar", users_backoffice_clients_path, data: {turbo_stream: true}, class: "w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        <% end %>
      </div>
    <% elsif @clients.total_pages > 1  %>
      <%=render "clients/pagination"%>
    <% end %>
  <% end %>

</div>








